.xp-tag {
  white-space: nowrap;
  position: relative;
  box-sizing: border-box;
  cursor: default;
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0 7px;
  height: 30px;
  font-size: 14px;
  line-height: 1;
  border-radius: 2px;
  border: 1px solid #efeff5;
  background-color: #fafafc;
  color: #333639;
  max-width: 100%;
}
.xp-tag.is-default {
  border: 1px solid #efeff5;
  background-color: #fafafc;
  color: #333639;
}
.xp-tag.is-success {
  color: #18a058;
  background-color: rgba(24, 160, 88, 0.1);
  border: 1px solid #a8dbc1;
}
.xp-tag.is-success {
  color: #18a058;
  background-color: rgba(24, 160, 88, 0.1);
  border: 1px solid #a8dbc1;
}
.xp-tag.is-warning {
  color: #f0a020;
  background-color: rgba(240, 160, 32, 0.12);
  border: 1px solid #f9d69f;
}
.xp-tag.is-info {
  color: #2082f0;
  background-color: rgba(32, 130, 240, 0.1);
  border: 1px solid #acd0f9;
}
.xp-tag.is-error {
  color: #d03050;
  background-color: rgba(208, 48, 80, 0.08);
  border: 1px solid #f1c3cc;
}
.xp-tag.is-small {
  font-size: 12px;
  line-height: 14px;
  height: 24px;
}
.xp-tag.is-large {
  height: 34px;
  font-size: 16px;
  line-height: 16px;
}
.xp-tag .xp-icon {
  cursor: pointer;
}
.xp-tag.is-closeable {
  padding-right: 3px;
}
