.xp-button {
  box-sizing: border-box;
  height: 40px;
  font-size: 14px;
  background-color: #d03050;
  padding: 12px 20px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  border-radius: 3px;
  box-shadow: 0 1px 0 fade-out(black, 0.95);
  transition: all 250ms;
  color: #333;
  border: 1px solid #d9d9d9;
  user-select: none;
}
-button:focus {
  outline: none;
}
.xp-button::-moz-focus-inner {
  border: 0;
}
.xp-button.is-circle.xp-button-default {
  border-radius: 100%;
  height: 40px;
  width: 40px;
}
.xp-button.is-circle.xp-button-small {
  border-radius: 100%;
  height: 32px;
  width: 32px;
}
.xp-button.is-circle.xp-button-large {
  border-radius: 100%;
  height: 48px;
  width: 48px;
}
.xp-button.is-round.xp-button-default {
  border-radius: calc(40px / 2);
}
.xp-button.is-round.xp-button-large {
  border-radius: calc(48px / 2);
}
.xp-button.is-round.xp-button-small {
  border-radius: calc(32px / 2);
}
.xp-button.xp-theme-default:hover {
  color: #18a058;
  border-color: #18a058;
}
.xp-button.xp-theme-default:hover > .xp-loadingIndicator {
  border-style: dashed;
  border-color: #18a058 #18a058 #18a058 transparent;
}
.xp-button.xp-theme-default:active {
  color: #0b4727;
  border-color: #0b4727;
}
.xp-button.xp-theme-default:active > .xp-loadingIndicator {
  border-style: dashed;
  border-color: #0b4727 #0b4727 #0b4727 transparent;
}
.xp-button.xp-theme-default.is-dashed {
  border-style: dashed;
}
.xp-button.xp-theme-default.is-disabled {
  cursor: not-allowed;
}
.xp-button.xp-theme-default.is-disabled:hover {
  color: #333;
  border-color: #d9d9d9;
}
.xp-button.xp-theme-default > .xp-loadingIndicator {
  border-style: dashed;
  border-color: #333 #333 #333 transparent;
}
.xp-button.xp-theme-primary {
  background-color: #36ad6a;
  border-color: #36ad6a;
  color: #fff;
}
.xp-button.xp-theme-primary:hover {
  background: #75d49f;
  border-color: #75d49f;
}
.xp-button.xp-theme-primary:active {
  background-color: #1e5f3a;
  border-color: #1e5f3a;
}
.xp-button.xp-theme-primary.is-disabled {
  cursor: not-allowed;
  background: #75d49f;
  border-color: #75d49f;
}
.xp-button.xp-theme-primary.is-disabled:hover {
  background: #75d49f;
  border-color: #75d49f;
}
.xp-button.xp-theme-primary.is-dashed {
  border-style: dashed;
  background-color: #fff !important;
  color: #36ad6a;
}
.xp-button.xp-theme-primary.is-dashed > .xp-loadingIndicator {
  border-style: dashed;
  border-color: #36ad6a #36ad6a #36ad6a transparent;
}
.xp-button.xp-theme-info {
  background-color: #4098fc;
  border-color: #4098fc;
  color: #fff;
}
.xp-button.xp-theme-info:hover {
  background: #a4cefe;
  border-color: #a4cefe;
}
.xp-button.xp-theme-info:active {
  background-color: #0364d3;
  border-color: #0364d3;
}
.xp-button.xp-theme-info.is-disabled {
  cursor: not-allowed;
  background: #a4cefe;
  border-color: #a4cefe;
}
.xp-button.xp-theme-info.is-disabled:hover {
  background: #a4cefe;
  border-color: #a4cefe;
}
.xp-button.xp-theme-info.is-dashed {
  border-style: dashed;
  background-color: #fff !important;
  color: #4098fc;
}
.xp-button.xp-theme-info.is-dashed > .xp-loadingIndicator {
  border-style: dashed;
  border-color: #4098fc #4098fc #4098fc transparent;
}
.xp-button.xp-theme-success {
  background-color: #85ce61;
  border-color: #85ce61;
  color: #fff;
}
.xp-button.xp-theme-success:hover {
  background: #c1e6af;
  border-color: #c1e6af;
}
.xp-button.xp-theme-success:active {
  background-color: #539930;
  border-color: #539930;
}
.xp-button.xp-theme-success.is-disabled {
  cursor: not-allowed;
  background: #c1e6af;
  border-color: #c1e6af;
}
.xp-button.xp-theme-success.is-disabled:hover {
  background: #c1e6af;
  border-color: #c1e6af;
}
.xp-button.xp-theme-success.is-dashed {
  border-style: dashed;
  background-color: #fff !important;
  color: #85ce61;
}
.xp-button.xp-theme-success.is-dashed > .xp-loadingIndicator {
  border-style: dashed;
  border-color: #85ce61 #85ce61 #85ce61 transparent;
}
.xp-button.xp-theme-warning {
  background-color: #f0a020;
  border-color: #f0a020;
  color: #fff;
}
.xp-button.xp-theme-warning:hover {
  background: #f6c980;
  border-color: #f6c980;
}
.xp-button.xp-theme-warning:active {
  background-color: #9f660b;
  border-color: #9f660b;
}
.xp-button.xp-theme-warning.is-disabled {
  cursor: not-allowed;
  background: #f6c980;
  border-color: #f6c980;
}
.xp-button.xp-theme-warning.is-disabled:hover {
  background: #f6c980;
  border-color: #f6c980;
}
.xp-button.xp-theme-warning.is-dashed {
  border-style: dashed;
  background-color: #fff !important;
  color: #f0a020;
}
.xp-button.xp-theme-warning.is-dashed > .xp-loadingIndicator {
  border-style: dashed;
  border-color: #f0a020 #f0a020 #f0a020 transparent;
}
.xp-button.xp-theme-error {
  background-color: #d03050;
  border-color: #d03050;
  color: #fff;
}
.xp-button.xp-theme-error:hover {
  background: #e38396;
  border-color: #e38396;
}
.xp-button.xp-theme-error:active {
  background-color: #7e1c30;
  border-color: #7e1c30;
}
.xp-button.xp-theme-error.is-disabled {
  cursor: not-allowed;
  background: #e38396;
  border-color: #e38396;
}
.xp-button.xp-theme-error.is-disabled:hover {
  background: #e38396;
  border-color: #e38396;
}
.xp-button.xp-theme-error.is-dashed {
  border-style: dashed;
  background-color: #fff !important;
  color: #d03050;
}
.xp-button.xp-theme-error.is-dashed > .xp-loadingIndicator {
  border-style: dashed;
  border-color: #d03050 #d03050 #d03050 transparent;
}
.xp-button.xp-button-large {
  font-size: 24px;
  height: 48px;
  padding: 0 16px;
}
.xp-button.xp-button-small {
  font-size: 12px;
  height: 32px;
  padding: 0 8px;
}
.xp-button > .xp-loadingIndicator {
  width: 14px;
  height: 14px;
  display: inline-block;
  margin-right: 4px;
  border-radius: 8px;
  border-color: #fff #fff #fff transparent;
  border-style: solid;
  border-width: 2px;
  animation: xp-spin 1s infinite linear;
}
.xp-button > .slot-icon-left {
  margin-right: 5px;
}
.xp-button > .slot-icon-right {
  margin-left: 5px;
}
@keyframes xp-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
