.xp-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}
.xp-ellipsis:not(.xp-ellipsis-line-clamp) {
  white-space: nowrap;
  display: inline-block;
  text-overflow: ellipsis;
}
.xp-ellipsis.xp-ellipsis-line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 1.5;
}
.xp-ellipsis.xp-ellipsis-expand-trigger {
  cursor: pointer;
}
