.xp-input {
  width: 100%;
  cursor: pointer;
  position: relative;
}
.xp-input.xp-input-prefix .xp-input-inner {
  padding-left: 30px;
}
.xp-input.xp-input-suffix .xp-input-inner {
  padding-right: 30px;
}
.xp-input-inner {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  outline: none;
  padding: 0 15px;
  color: #333639;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.xp-input-inner:hover {
  border-color: #c0c4cc;
}
.xp-input-inner:active,
.xp-input-inner:focus {
  outline: none;
  border-color: #18a058;
  box-shadow: 0 0 0 2px rgba(24, 160, 88, 0.3);
}
.xp-input-inner::placeholder {
  color: #d5d7dc;
  font-size: inherit;
}
.xp-input.is-disabled .xp-input-inner {
  cursor: not-allowed;
  background-color: #fafafc;
  color: #c2c2c2;
}
.xp-input.is-disabled .xp-input-inner:hover,
.xp-input.is-disabled .xp-input-inner:focus,
.xp-input.is-disabled .xp-input-inner:active {
  border: 1px solid #dcdfe6;
  box-shadow: none;
}
.xp-input .xp-input-suffix-icon,
.xp-input .xp-input-prefix-icon {
  position: absolute;
  bottom: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.xp-input .xp-input-suffix-icon {
  right: 5px;
}
.xp-input .xp-input-prefix-icon {
  left: 5px;
}
.xp-input .close-icon,
.xp-input .password-icon {
  display: none;
}
.xp-input:hover .close-icon,
.xp-input:focus .close-icon,
.xp-input:hover .password-icon,
.xp-input:focus .password-icon,
.xp-input .suffix-icon {
  margin: 0 1px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.xp-input:hover .close-icon .xp-icon,
.xp-input:focus .close-icon .xp-icon,
.xp-input:hover .password-icon .xp-icon,
.xp-input:focus .password-icon .xp-icon,
.xp-input .suffix-icon .xp-icon {
  color: #dcdfe6;
}
.xp-input:hover .close-icon .xp-icon:hover,
.xp-input:focus .close-icon .xp-icon:hover,
.xp-input:hover .password-icon .xp-icon:hover,
.xp-input:focus .password-icon .xp-icon:hover,
.xp-input .suffix-icon .xp-icon:hover {
  color: #c0c4cc;
}
.xp-input .suffix-icon .xp-icon:hover {
  color: #dcdfe6;
}
.xp-textarea {
  width: 100%;
}
.xp-textarea .xp-textarea-inner {
  display: block;
  resize: vertical;
  padding: 5px 15px;
  line-height: 1.5;
  box-sizing: border-box;
  width: 100%;
  font-size: inherit;
  color: #606266;
  background-color: #fff;
  background-image: none;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.xp-textarea .xp-textarea-inner:hover {
  border-color: #c0c4cc;
}
.xp-textarea .xp-textarea-inner:active,
.xp-textarea .xp-textarea-inner:focus {
  outline: none;
  border-color: #18a058;
  box-shadow: 0 0 0 2px rgba(24, 160, 88, 0.3);
}
.xp-textarea .xp-textarea-inner::placeholder {
  color: #d5d7dc;
  font-size: inherit;
}
