.xp-switch {
  height: 22px;
  width: 44px;
  border: none;
  background: #dbdbdb;
  border-radius: calc(18px / 1.5);
  position: relative;
  cursor: pointer;
  /* 解决移动端点击时有边框 */
  outline: none;
  -webkit-tap-highlight-color: #fff;
  -webkit-tap-highlight-color: transparent;
}
.xp-switch-disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.xp-switch:focus {
  outline: none;
}
.xp-switch > span {
  position: absolute;
  top: 2px;
  left: 2px;
  height: 18px;
  width: 18px;
  background: white;
  border-radius: calc(18px / 1.5);
  transition: all 250ms;
}
.xp-switch.xp-switch-checked {
  background: #18a058;
}
.xp-switch.xp-switch-checked > span {
  left: calc(100% - 18px - 2px);
}
.xp-switch.xp-switch-checked.xp-switch-small > span {
  left: calc(100% - 12px - 2px);
}
.xp-switch.xp-switch-checked.xp-switch-large > span {
  left: calc(100% - 26px - 2px);
}
.xp-switch:active > span {
  width: 22px;
}
.xp-switch:active.xp-switch-samll > span {
  width: 16px;
}
.xp-switch:active.xp-switch-large > span {
  width: 30px;
}
.xp-switch.xp-switch-checked:active > span {
  width: 22px;
  margin-left: -4px;
}
.xp-switch.xp-switch-checked:active.xp-switch-small > span {
  width: 16px;
  margin-left: -4px;
}
.xp-switch.xp-switch-checked:active.xp-switch-large > span {
  width: 30px;
  margin-left: -4px;
}
.xp-switch.xp-switch-small {
  height: 16px;
  width: 32px;
  border-radius: calc(12px / 1.5);
}
.xp-switch.xp-switch-small > span {
  position: absolute;
  top: 2px;
  left: 2px;
  height: 12px;
  width: 12px;
  background: white;
  border-radius: calc(12px / 1.5);
  transition: all 250ms;
}
.xp-switch.xp-switch-large {
  height: 30px;
  width: 60px;
  border-radius: calc(26px / 1.5);
}
.xp-switch.xp-switch-large > span {
  position: absolute;
  top: 2px;
  left: 2px;
  height: 26px;
  width: 26px;
  background: white;
  border-radius: calc(26px / 1.5);
  transition: all 250ms;
}
