.xp-dialog {
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0 0 3px fade_out(black, 0.5);
}
.xp-dialog-overlay {
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: 10;
}
.xp-dialog-wrapper {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  max-width: calc(100vw - 32px);
  width: 446px;
  background: white;
}
.xp-dialog-wrapper > header {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}
.xp-dialog-wrapper > main {
  padding: 30px 20px;
}
.xp-dialog-wrapper > footer {
  padding: 20px;
  text-align: right;
}
.xp-dialog-wrapper > footer .xp-button + .xp-button {
  margin-left: 12px;
}
.xp-dialog-wrapper .xp-dialog-close {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.xp-dialog-wrapper .xp-dialog-close::before,
.xp-dialog-wrapper .xp-dialog-close::after {
  content: "";
  position: absolute;
  height: 1px;
  background: black;
  width: 100%;
  top: 50%;
  left: 50%;
}
.xp-dialog-wrapper .xp-dialog-close::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.xp-dialog-wrapper .xp-dialog-close::after {
  transform: translate(-50%, -50%) rotate(45deg);
}
.xp-dialog-wrapper .xp-dialog-close:hover::before,
.xp-dialog-wrapper .xp-dialog-close:hover:after {
  background: #36ad6a;
}
