.xp-button {
  margin: 10px 5px !important;
}
.example {
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  padding: 20px;
}
.vp-doc a {
  text-decoration: none;
  text-underline-offset: 0px;
  color: #63b678;
}
.vp-doc a:hover {
  color: #25A561;
}
.clip[data-v-40db9a3d] {
  -webkit-text-fill-color: #36AD6A;
}
.VPButton.brand[data-v-3088295e] {
  background-color: #36AD6A;
}
.VPButton.brand[data-v-3088295e]:hover {
  background-color: #099746;
}
.VPSidebarItem.level-1.is-link > .item > .link:hover .text[data-v-28007025] {
  color: #63b678;
}
.VPSidebarItem.level-1.is-active > .item .link > .text[data-v-28007025] {
  color: #047c3c;
  font-weight: 600;
}
.VPNavBarMenuLink[data-v-4fd65862]:hover {
  color: #25A561;
}
.VPSidebarItem.level-0.is-link > .item > .link:hover .text[data-v-28007025] {
  color: #25A561;
}
.outline-marker[data-v-b92509c1] {
  background-color: #25A561;
}
.title[data-v-4b1b314b] {
  color: #25A561;
}
.pager-link[data-v-4b1b314b]:hover {
  border-color: #25A561;
}
.VPSidebarItem.level-0[data-v-28007025] .has-active[data-v-28007025] .link[data-v-28007025] {
  margin: 0;
  padding: 4px 18px;
  transition: 0.4s;
  padding-left: 14px !important;
  background: #E7F5EE;
}
.link[data-v-28007025] {
  margin: 0;
  padding: 3px 18px;
  transition: 0.4s;
  padding-left: 14px !important;
}
.custom-block.details summary {
  color: #36AD6A;
}
.custom-block.tip {
  border-color: #9BD9BE;
  color: #557c69;
  background-color: #F5FBF9;
}
.vp-doc table {
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
}
.vp-doc table table {
  width: 100%;
  display: inline-table;
}
.vp-doc table th,
.vp-doc table tr:nth-child(2n) {
  background-color: transparent;
}
.vp-doc table td,
.vp-doc table th {
  text-align: center;
  font-size: 15px;
  border: none;
}
.vp-doc table tr {
  border-top: 1px solid #a8a8a8;
  transition: background-color 0.5s;
}
.vp-doc :not(pre, h1, h2, h3, h4, h5, h6) > code {
  font-size: var(--vp-code-font-size);
  color: #6dae82;
}
